*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: auto;
  padding: 5px;
}

/* Top Bar containing button and timer */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lumanosimo', cursive;

}

/* Background image in Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(Images/IMG_0514.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Button Tab style */
.button {
  background: rgb(139, 196, 250);
  border-radius: 20px;
  padding: 10px;
  cursor: grab;
  margin-bottom: 10px;
  font-family: 'Lumanosimo', cursive;
  transition: all 0.5s;
}

.button:hover{
  background: rgba(5, 13, 20, 0.469);
}

/* Timer style in top right corner */
#timer {
  background: rgb(139, 196, 250);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

main {
  text-align: center;
  justify-content: center;
  flex: 1 0 auto;
  margin-left: 200px;
  margin-right: 200px;
}

.app {
  background: rgb(139, 196, 250, .55);
  width: 90%;
  max-width: 900px;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 30px;
  border: black solid 5px;
  justify-content: center;
  flex: 1 0 auto;

}

hr {
  border: black solid 3px;
}

main p {
  font-size: 30px;
  font-weight: 550;
  padding: 40px;
}

main .button {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.822);
}


h1 {
  font-size: 50px;
  font-weight: 800;
}

.quiz {
  padding: 50px;
}

.quiz h2 {
  font-size: 40px;
  font-weight: 600;
}

.btn {
  background: rgba (255, 255, 255, 0.822);
  font-weight: 600;
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;  
  padding: 10px;
  margin: 15px 0;
  text-align: left;
  cursor: grabbing;
  transition: all 0.5s;
}

.btn:hover{
  background: rgba(5, 13, 20, 0.469);
}

#next-btn {
  background: rgba(5, 13, 20, 0.469);
  font-weight: 500;
  font-size: 25px;
  color: white;
  width: auto;
  border: 0;
  padding: 10px;
  margin: 50px auto 0;
  border-radius: 10px;
  cursor: grab;
  transition: all 0.5s;
 
}

#next-btn:hover {
  background-color: rgba(255, 255, 255, 0.37);
}